html, body
{
    margin:0;
    height:100%;
}

body
{
    background:pink;
    height:100%;
    width:100%;
}

.red
{
    border:4px solid black;
    background-color:red;
    background-image:url("alliance.png");
    background-repeat:no-repeat;
    background-size:45%;
    background-position-x: 50%;
    background-position-y: 4px;
}

.blue
{
    border:4px solid black;
    background-color:blue;
    background-image:url("empire.png");
    background-repeat:no-repeat;
    background-size:48%;
    background-position-x: 50%;
    background-position-y: 2px;
}

.container
{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    height:100%; 
}

.ligne1, .ligne2, .ligne3
{
    height:25%;
    display:flex;
    justify-content:space-around;
    flex-direction:row;
}

.case
{
    width:25%;
    height:100%;
    border:1px solid black;
    transition:0.5s;
}

.case:hover
{
    border:4px solid black;
}

.red
{
    border:4px double black;
    background-color:red;
    background-image:url("alliance.png");
    background-repeat:no-repeat;
    background-size:45%;
    background-position-x: 50%;
    background-position-y: 4px;
}

.blue
{
    border:4px double black;
    background-color:blue;
    background-image:url("empire.png");
    background-repeat:no-repeat;
    background-size:48%;
    background-position-x: 50%;
    background-position-y: 2px;
}
